.bg {
    background-color: azure;
    border-radius: 12px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: max-content;
    padding: 1rem;
    
    box-shadow: 0 1px 8px rgba(236, 235, 235, 0.25);
}